output/
*.o
*.out
# binarios de pruebas en Pruebas Opencode
Pruebas Opencode/MiniReto

Pruebas Opencode/Proyecto4
Pruebas Opencode/Fuga
Pruebas Opencode/RetoReglaCinco
Pruebas Opencode/SmartPointers
Pruebas Opencode/memoria
